{% extends "base.html" %}
{% block meta %}
<meta http-equiv="refresh" content="1; URL=/">
{% endblock meta %}
{% block content %}
<h1>Added {{link.id}} -> {{link.destination}}</h1>
<p><a href="/">[Go back]</a></p>
{% endblock content %}
