<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        h1, h2, h3 {
            margin: 0px;
            padding: 5px;
            text-align: center;
            background-color: #333399;
            color: #ffffff;
        }

        a {
            color: #333399;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        p {
            margin: 10px;
        }

        body {
            font-family: sans-serif;
            background-color: #9999ff;
        }

        #content {
            border: 1px solid #333399;
            max-width: 800px;
            margin: 10px auto;
            background-color: #ffffff;
            box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
        }

        table {
            width: 100%;
        }

        table, tbody, thead, tr, th, td {
            margin: 0px;
            padding: 0px;
        }

        th, td {
            padding: 2px;
        }

        table th {
            background-color: #4444aa;
            color: #ffffff;
        }

        table tr:nth-child(even) td {
            background-color: #ffffff;
        }

        table tr:nth-child(odd) td {
            background-color: #ddddff;
        }
    </style>

    <meta charset="UTF-8">
    {% block meta %}{% endblock meta %}

    <title>rappet's Link shortener</title>
</head>
<body>
<div id="content">
{% block content %}{% endblock content %}
</div>
</body>
</html>
