{% extends "base.html" %}
{% block content %}
<h1>rustlink</h1>
<p>Simple and small link shortener</p>

<h2>Add Link</h2>
<form action="/add" method="post">
    <p>
        ID:<br/>
        <input type="text" name="id">
    </p>
    <p>
        Destination:<br/>
        <input type="text" name="destination">
    </p>
    <p>
        <input type="submit" value="Create link">
    </p>
</form>

<h2>List of all links</h2>
<table cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th>Link</th>
        <th>Destination</th>
        <th>Created</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for link in links %}
    <tr>
        <td><a href="{{link.id}}" target="_blank">{{link.id}}</a></td>
        <td><a href="{{link.destination}}" target="_blank">{{link.destination}}</a></td>
        <td>
            {{link.created}}
        </td>
        <td>
            <a href="/stats/{{link.id}}">[stats]</a>
            <a href="/delete/{{link.id}}">[delete]</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
